.edit-menu {
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    z-index: 1337;
    display: flex;
}

.menu-item{
    border: none;
    background-position: center;
    background-size: contain;
}

.menu-item button,
.menu-item select {
    min-width: 25px;
    height: 25px;
    vertical-align: top;
}

