.edit-menu {
    position: absolute;
    /*box-shadow: 0 0 10px rgba(0,0,0,.7);*/
    z-index: 1337;
    display: flex;
}

.menu-item{
    border: none;
    background-position: center;
    background-size: contain;
}

.menu-item button,
.menu-item select {
    min-width: 25px;
    height: 25px;
    vertical-align: top;
}

.menu-combobox {
    height: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    margin: 0;
    padding: 0;    
    border-radius: 0;
}
.menu-combobox:hover {
    border-color: lightgray;
}
.menu-button {
    text-align: center;
    height: 25px;
    padding: 0 5px;
    font-size: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
}
.menu-button:hover {
    border-color: lightgray;
}

#delete {
    margin-right: 10px;
}

#bold {
    width: 25px;
}

#italic {
    width: 25px;
    margin-right: 5px;
}

#color:before {
    /*background-image: url('../img/icons/automatic-white-balance.png');*/
    background-size: contain;
    background-repeat: no-repeat;
    content: 'A';
    z-index: 1337;
    width: 25px;
    height: 25px;
    position: absolute;
    pointer-events: none;
    padding: 0;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 5px white;
}

#color input {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    padding: 0;
}

#background:before {
    /*background-image: url('../img/icons/automatic-white-balance.png');*/
    background-size: contain;
    background-repeat: no-repeat;
    content: '☰';
    z-index: 1337;
    width: 25px;
    height: 25px;
    position: absolute;
    pointer-events: none;
    padding: 0;    
    font-size: 17px;
    text-align: center;
    text-shadow: 0 0 5px white;
}
#background input {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    padding: 0;
}
#itcanvas {    
    position: absolute;
    z-index: 1336;
    cursor: default;
    background: #fff0;
}