.edit-menu {
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    z-index: 1337;
    display: flex;
}

.menu-item{
    border: none;
    background-position: center;
    background-size: contain;
}

.menu-item button,
.menu-item select {
    min-width: 25px;
    height: 25px;
    vertical-align: top;
}

.menu-combobox {
    height: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    margin: 0;
    padding: 0;
}
.menu-combobox:hover {
    border-color: lightgray;
}
.menu-button {
    text-align: center;
    height: 25px;
    padding: 0 5px;
    font-size: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
}
.menu-button:hover {
    border-color: lightgray;
}

#delete {
    margin-right: 10px;
}

#bold {
    width: 25px;
}

#italic {
    width: 25px;
}