@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');

.editpage__wrap {
	position: absolute;
	/*top: 0;*/
	/*left: 0;*/
	max-width: 400px;
	max-height: 50px;
	z-index: 13371337;
}

.editpage__menuitem {
	display: flex;
	align-items: center;
	/*filter: drop-shadow( 0px 0px 1px #000 );*/
}

.editpage__select {
	margin: 0 5px;
}
.editpage__tabGroupIcon {
	margin-right: 10px;
}

.editpage__toggleBtn--off {
	opacity: .6;
}

.editpage__inlineMenuItems {
	display: flex;
}

.editpage__colorpicker {
	position: absolute;
}